In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test_groups_users.csv', index_col=0)

In [3]:
df

,group01,group02,group03,group04,group05,group06,group07,group08,group09,group10,group11,group12,group13,group14,group15,group16,group17,group18,group19,group20
user01,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN
user02,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,x,NaN,NaN,NaN
user03,x,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,x,NaN,NaN,NaN
user04,x,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,x,NaN,NaN,NaN
user05,x,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN
user06,x,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user07,x,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user08,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user09,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user10,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user11,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user12,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user13,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user14,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user15,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user16,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user17,x,NaN,NaN,x,x,x,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user18,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user19,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x,x,NaN,NaN,NaN,x
user20,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x

# Option 1:
loop through columns

In [4]:
groups ={}

In [5]:
for i in df.columns:
    groups[i] = df[df[i]=='x'].index

In [6]:
groups

{'group01': Index(['user01', 'user02', 'user03', 'user04', 'user05', 'user06', 'user07',
        'user08', 'user09', 'user10', 'user11', 'user12', 'user13', 'user14',
        'user15', 'user16', 'user17', 'user18', 'user19', 'user20'],
       dtype='object'),
 'group02': Index(['user01', 'user20'], dtype='object'),
 'group03': Index(['user02', 'user14', 'user15', 'user16'], dtype='object'),
 'group04': Index(['user03', 'user17'], dtype='object'),
 'group05': Index(['user04', 'user17'], dtype='object'),
 'group06': Index(['user05', 'user17'], dtype='object'),
 'group07': Index(['user06', 'user17'], dtype='object'),
 'group08': Index(['user07', 'user17'], dtype='object'),
 'group09': Index(['user08', 'user18'], dtype='object'),
 'group10': Index(['user07', 'user18'], dtype='object'),
 'group11': Index(['user06', 'user18'], dtype='object'),
 'group12': Index(['user05', 'user18'], dtype='object'),
 'group13': Index(['user04', 'user19'], dtype='object'),
 'group14': Index(['user03', 'user19'], dtype='object'),
 'group15': Index(['user02', 'user19'], dtype='object'),
 'group16': Index(['user01', 'user19'], dtype='object'),
 'group17': Index(['user02', 'user03', 'user04', 'user05'], dtype='object'),
 'group18': Index(['user06', 'user07', 'user08', 'user09'], dtype='object'),
 'group19': Index(['user10', 'user11', 'user12', 'user13', 'user14'], dtype='object'),
 'group20': Index(['user15', 'user16', 'user17', 'user18', 'user19', 'user20'], dtype='object')}

# Option 2
unstack

In [7]:
df.unstack()

group01  user01      x
         user02      x
         user03      x
         user04      x
         user05      x
         user06      x
         user07      x
         user08      x
         user09      x
         user10      x
         user11      x
         user12      x
         user13      x
         user14      x
         user15      x
         user16      x
         user17      x
         user18      x
         user19      x
         user20      x
group02  user01      x
         user02    NaN
         user03    NaN
         user04    NaN
         user05    NaN
         user06    NaN
         user07    NaN
         user08    NaN
         user09    NaN
         user10    NaN
                  ...
group19  user11      x
         user12      x
         user13      x
         user14      x
         user15    NaN
         user16    NaN
         user17    NaN
         user18    NaN
         user19    NaN
         user20    NaN
group20  user01    NaN
         user02    NaN
         user03    NaN
         user04    NaN
         user05    NaN
         user06    NaN
         user07    NaN
         user08    NaN
         user09    NaN
         user10    NaN
         user11    NaN
         user12    NaN
         user13    NaN
         user14    NaN
         user15      x
         user16      x
         user17      x
         user18      x
         user19      x
         user20      x
Length: 400, dtype: object

### unstack and select 'x'

In [8]:
df.unstack()[df.unstack() == 'x']

group01  user01    x
         user02    x
         user03    x
         user04    x
         user05    x
         user06    x
         user07    x
         user08    x
         user09    x
         user10    x
         user11    x
         user12    x
         user13    x
         user14    x
         user15    x
         user16    x
         user17    x
         user18    x
         user19    x
         user20    x
group02  user01    x
         user20    x
group03  user02    x
         user14    x
         user15    x
         user16    x
group04  user03    x
         user17    x
group05  user04    x
         user17    x
                  ..
group11  user18    x
group12  user05    x
         user18    x
group13  user04    x
         user19    x
group14  user03    x
         user19    x
group15  user02    x
         user19    x
group16  user01    x
         user19    x
group17  user02    x
         user03    x
         user04    x
         user05    x
group18  user06    x
         user07    x
         user08    x
         user09    x
group19  user10    x
         user11    x
         user12    x
         user13    x
         user14    x
group20  user15    x
         user16    x
         user17    x
         user18    x
         user19    x
         user20    x
Length: 71, dtype: object

# Example with sample file

In [15]:
df2 = pd.read_excel('SecurityFile.xlsx', index_col = 0)

In [16]:
df2.head()

,Employee Name,Windows account,Windows domain,Tableau desktop key,Tableau desktop version,Tableau desktop expiration date,Tableau server account,Initial password,Tableau name,SiteRole (always Interactor),...,DS_BPS+,DS_Connector,DS_DesktopUsers,CNT_BPS,CNT_Sensitive,CNT_ColumnRest,CNT_AUTO,CNT_IND,WB_BPS_PUBL,WB_CEAC_PUBL_1
AMEI,,,,,,,,,,,,,,,,,,,,,
136696,LEVEILLE PIERRICK,LEVEILPI,EUROPE,NaN,NaN,NaN,136696,NaN,Leveille Pierrick,Interactor,...,X,NaN,NaN,X,X,NaN,NaN,NaN,X,NaN
136697,SAMWISE GAMGEE,SAMGAM,SHIRE,NaN,NaN,NaN,136697,NaN,Samwise,Interactor,...,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136698,GLORFINDEL,GLORGON,GONDOLIN,NaN,NaN,NaN,136698,NaN,Glorfindel,Interactor,...,X,X,X,X,X,X,X,X,X,X
136699,GRIMA WORMTONGUE,GRIWOR,ISENGARD,NaN,NaN,NaN,136699,NaN,Grima,Interactor,...,X,NaN,X,NaN,X,NaN,X,NaN,NaN,NaN
136700,MERIADOC BRANDYBUCK,MERBRA,SHIRE,NaN,NaN,NaN,136700,NaN,Meriadoc,Interactor,...,X,X,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN

## Loop through columns

In [23]:
group_columns =["IT - administration",
                "DS_BPS","DS_BPS+","DS_Connector","DS_DesktopUsers","CNT_BPS","CNT_Sensitive","CNT_ColumnRest",
                "CNT_AUTO","CNT_IND","WB_BPS_PUBL","WB_CEAC_PUBL_1"]

In [24]:
groups2 = {}

In [27]:
for i in group_columns:
    groups2[i] = df2[df2[i] =='X'].index

In [28]:
groups2

{'CNT_AUTO': Int64Index([136698, 136699], dtype='int64', name='AMEI'),
 'CNT_BPS': Int64Index([136696, 136698], dtype='int64', name='AMEI'),
 'CNT_ColumnRest': Int64Index([136698, 136700], dtype='int64', name='AMEI'),
 'CNT_IND': Int64Index([136698], dtype='int64', name='AMEI'),
 'CNT_Sensitive': Int64Index([136696, 136698, 136699], dtype='int64', name='AMEI'),
 'DS_BPS': Int64Index([136698], dtype='int64', name='AMEI'),
 'DS_BPS+': Int64Index([136696, 136697, 136698, 136699, 136700], dtype='int64', name='AMEI'),
 'DS_Connector': Int64Index([136698, 136700], dtype='int64', name='AMEI'),
 'DS_DesktopUsers': Int64Index([136698, 136699], dtype='int64', name='AMEI'),
 'IT - administration': Int64Index([136697, 136698], dtype='int64', name='AMEI'),
 'WB_BPS_PUBL': Int64Index([136696, 136698], dtype='int64', name='AMEI'),
 'WB_CEAC_PUBL_1': Int64Index([136698], dtype='int64', name='AMEI')}

## Unstack

In [32]:
df2.unstack()[df2.unstack()=='X']

                     AMEI
IT - administration  136697    X
                     136698    X
DS_BPS               136698    X
DS_BPS+              136696    X
                     136697    X
                     136698    X
                     136699    X
                     136700    X
DS_Connector         136698    X
                     136700    X
DS_DesktopUsers      136698    X
                     136699    X
CNT_BPS              136696    X
                     136698    X
CNT_Sensitive        136696    X
                     136698    X
                     136699    X
CNT_ColumnRest       136698    X
                     136700    X
CNT_AUTO             136698    X
                     136699    X
CNT_IND              136698    X
WB_BPS_PUBL          136696    X
                     136698    X
WB_CEAC_PUBL_1       136698    X
dtype: object

In [33]:
df3 = df2.unstack()[df2.unstack()=='X']

In [34]:
df3.concat

                     AMEI
IT - administration  136697    X
                     136698    X
DS_BPS               136698    X
DS_BPS+              136696    X
                     136697    X
                     136698    X
                     136699    X
                     136700    X
DS_Connector         136698    X
                     136700    X
DS_DesktopUsers      136698    X
                     136699    X
CNT_BPS              136696    X
                     136698    X
CNT_Sensitive        136696    X
                     136698    X
                     136699    X
CNT_ColumnRest       136698    X
                     136700    X
CNT_AUTO             136698    X
                     136699    X
CNT_IND              136698    X
WB_BPS_PUBL          136696    X
                     136698    X
WB_CEAC_PUBL_1       136698    X
dtype: object