In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test_groups_users.csv', index_col=0)

In [3]:
df

,group01,group02,group03,group04,group05,group06,group07,group08,group09,group10,group11,group12,group13,group14,group15,group16,group17,group18,group19,group20
user01,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN
user02,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,x,NaN,NaN,NaN
user03,x,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,x,NaN,NaN,NaN
user04,x,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,x,NaN,NaN,NaN
user05,x,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN
user06,x,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user07,x,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user08,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user09,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN
user10,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user11,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user12,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user13,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user14,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN
user15,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user16,x,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user17,x,NaN,NaN,x,x,x,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user18,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
user19,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x,x,NaN,NaN,NaN,x
user20,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x

# Option 1:
loop through columns

In [4]:
groups ={}

In [5]:
for i in df.columns:
    groups[i] = df[df[i]=='x'].index

In [6]:
groups

{'group01': Index(['user01', 'user02', 'user03', 'user04', 'user05', 'user06', 'user07',
        'user08', 'user09', 'user10', 'user11', 'user12', 'user13', 'user14',
        'user15', 'user16', 'user17', 'user18', 'user19', 'user20'],
       dtype='object'),
 'group02': Index(['user01', 'user20'], dtype='object'),
 'group03': Index(['user02', 'user14', 'user15', 'user16'], dtype='object'),
 'group04': Index(['user03', 'user17'], dtype='object'),
 'group05': Index(['user04', 'user17'], dtype='object'),
 'group06': Index(['user05', 'user17'], dtype='object'),
 'group07': Index(['user06', 'user17'], dtype='object'),
 'group08': Index(['user07', 'user17'], dtype='object'),
 'group09': Index(['user08', 'user18'], dtype='object'),
 'group10': Index(['user07', 'user18'], dtype='object'),
 'group11': Index(['user06', 'user18'], dtype='object'),
 'group12': Index(['user05', 'user18'], dtype='object'),
 'group13': Index(['user04', 'user19'], dtype='object'),
 'group14': Index(['user03', 'user19'], dtype='object'),
 'group15': Index(['user02', 'user19'], dtype='object'),
 'group16': Index(['user01', 'user19'], dtype='object'),
 'group17': Index(['user02', 'user03', 'user04', 'user05'], dtype='object'),
 'group18': Index(['user06', 'user07', 'user08', 'user09'], dtype='object'),
 'group19': Index(['user10', 'user11', 'user12', 'user13', 'user14'], dtype='object'),
 'group20': Index(['user15', 'user16', 'user17', 'user18', 'user19', 'user20'], dtype='object')}

# Option 2
unstack

In [8]:
df.unstack()

group01  user01      x
         user02      x
         user03      x
         user04      x
         user05      x
         user06      x
         user07      x
         user08      x
         user09      x
         user10      x
         user11      x
         user12      x
         user13      x
         user14      x
         user15      x
         user16      x
         user17      x
         user18      x
         user19      x
         user20      x
group02  user01      x
         user02    NaN
         user03    NaN
         user04    NaN
         user05    NaN
         user06    NaN
         user07    NaN
         user08    NaN
         user09    NaN
         user10    NaN
                  ...
group19  user11      x
         user12      x
         user13      x
         user14      x
         user15    NaN
         user16    NaN
         user17    NaN
         user18    NaN
         user19    NaN
         user20    NaN
group20  user01    NaN
         user02    NaN
         user03    NaN
         user04    NaN
         user05    NaN
         user06    NaN
         user07    NaN
         user08    NaN
         user09    NaN
         user10    NaN
         user11    NaN
         user12    NaN
         user13    NaN
         user14    NaN
         user15      x
         user16      x
         user17      x
         user18      x
         user19      x
         user20      x
Length: 400, dtype: object